ul {
    list-style-type: none;
}

article {
    border: 1px solid rgb(93, 93, 93); 
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    margin: 2rem;
    /* width: 25%; */
}

.row > *{
    max-width: 300px;
    padding-left: 0;
    .product-details {
        padding-left: 1rem;
    }
}

img {
    border-radius: 5px;
    margin: 0;
}

main {
    
    input {
        margin-bottom: 1rem;
    }
}